

div{
    display: center;
}

body {
    background-image: url('img/19355.jpg');
}

#tetrisBoard,#menu{
    border: 3px solid white;
}
#tetrisBoard{
    margin: 0 0 0 auto;
}

#menu{
    margin: 0 auto 0 0;
}

